<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="C:\git\damienbod\AspNetCoreNlog\Logs\internal-nlog.txt">
  
  <targets>
    <target xsi:type="File" name="allfile" fileName="${var:configDir}\nlog-all.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="${var:configDir}\nlog-own.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database"
              dbProvider="Npgsql.NpgsqlConnection, Npgsql"
              connectionString="User ID=damienbod;Password=damienbod;Host=localhost;Port=5432;Database=log;Pooling=true;"
              commandType="StoredProcedure"
              commandText="add_log"  >

<!--

CREATE TABLE nosqllogs (
    data JSON,
    CONSTRAINT validate_id CHECK (length(data->>'logged') > 0 AND (data->>'logged') IS NOT NULL ),
    CONSTRAINT validate_name CHECK (length(data->>'level') > 0 AND (data->>'level') IS NOT NULL )
);

CREATE OR REPLACE FUNCTION add_log(data Text) 
    RETURNS void AS $$
    BEGIN
      INSERT INTO nosqllogs VALUES (CAST (data AS JSON) );
    END;
    $$ LANGUAGE plpgsql;
    
-->

       <parameter name="@data" layout='{"logged": "${date}","level": "${level}", "application": "AspNetCoreNlog", "message": "${message}", "logger": "${logger}", "exception": "${exception:tostring}", "callsite" : "${callsite:filename=true}" }' />   
      </target>
      
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
      
    <logger name="*" minlevel="Trace" writeTo="database" />
      
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>